* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.headingStyle {
  color: orange;
  font-size: 5rem;
  font-family: verdana
}
.card {
  background: #ffda77;
  box-shadow: 2px 4px 4px gray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 390px;
  display: inline-block;
}
.cardTitle {
  text-align: center;
  margin-bottom: 5px;
}
.cardDec {
  text-align: justify;
  margin-bottom: 5px;
}
.cardFooter {
  text-align: right;
  font-weight: bold;
}

.card2 {
  background: #ffda77;
  box-shadow: 2px 4px 4px gray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 190px;
  display: inline-block;
}

button {
  padding: .8rem;
  font-size: 3rem;
  margin: 15px;
  box-shadow: 2px 2px 2px #333;
  background: #eb9ca3e7;
}